@charset "UTF-8";
@font-face {
  font-family: "Kavoon";
  src: url("../fonts/Kavoon-Regular.ttf") format("truetype");
}
body {
  background: url("../img/bacground/background1.svg") no-repeat center center fixed;
  background-size: cover;
  font-family: "Kavoon";
}
body .continer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body .continer .content-continer {
  border-left: 3px solid black;
  border-right: 3px solid black;
}
body .continer .content-continer header {
  height: 230px;
  width: 1440px;
  background: linear-gradient(to bottom, #541111, #541149);
  display: flex;
  justify-content: space-around;
  align-items: center;
}
body .continer .content-continer header nav {
  flex: 1;
  display: flex;
  flex-direction: column;
  text-align: center;
  animation: fadeInDown 1s ease-in-out;
}
body .continer .content-continer header nav a {
  color: white;
  font-size: 40px;
  padding: 10px 0;
  transition: font-size 0.3s ease;
}
body .continer .content-continer header nav a:hover {
  color: rgb(52, 85, 255);
  font-size: 44px;
}
@keyframes fadeInDown {
  0% {
    transform: translateY(-20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
body .continer .content-continer header .logo {
  flex: 1;
  text-align: center;
  font-size: 70px;
  letter-spacing: 4px;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
  animation: fadeInUp 1s ease-in-out; /* Анимация появления */
  color: #f5ff39;
  transition: font-size 0.3s ease;
}
body .continer .content-continer header .logo:hover {
  color: rgb(98, 3, 221);
  font-size: 75px;
}
body .continer .content-continer header .logo p {
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  position: relative;
  animation: glow 2s ease-in-out infinite;
  cursor: pointer;
}
@keyframes fadeInUp {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
body .continer .content-continer main {
  width: 1440px;
}
body .continer .content-continer main .animations {
  position: relative;
}
body .continer .content-continer main .animations .order-block {
  height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
body .continer .content-continer main .animations .order-block a {
  font-size: 100px;
  color: white;
  -webkit-text-stroke: 2px #000000;
  transform: scale(0);
  opacity: 0;
  animation: scaleIn 3s forwards;
  transition: font-size 0.3s ease;
}
body .continer .content-continer main .animations .order-block a:hover {
  color: rgb(52, 85, 255);
  font-size: 110px;
}
@keyframes scaleIn {
  to {
    transform: scale(1);
    opacity: 1;
  }
}
body .continer .content-continer main .animations .qr {
  position: absolute;
  right: 30px;
  bottom: 30px;
}
body .continer .content-continer main .animations .qr img {
  width: 100px;
  height: 100px;
}
body .continer .content-continer main .animations .rotate-wrapper {
  overflow: hidden;
  width: 100%;
  height: 510px;
  background-color: #541146;
}
body .continer .content-continer main .animations .rotate-wrapper .rotait {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  transform: rotate(45deg) translate(-100px, -1110px);
  transform-origin: top left;
}
body .continer .content-continer main .animations .rotate-wrapper .rotait .image-slider {
  width: calc(25% + 70px);
  height: 100vw;
  animation: moveSliderDown linear infinite 60s;
}
@keyframes moveSliderDown {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100%);
  }
}
body .continer .content-continer main .animations .rotate-wrapper .rotait .image-slider .image-container {
  display: flex;
  flex-direction: column;
  animation: movePhotos linear infinite 60s;
}
@keyframes movePhotos {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}
body .continer .content-continer main .animations .rotate-wrapper .rotait .image-slider .image-container img {
  height: auto;
  border-radius: 10px;
  margin: 3px;
}
body .continer .content-continer main .donuts-shop .search-panel {
  background: linear-gradient(to bottom, #541149, #541111);
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 2px solid white;
}
body .continer .content-continer main .donuts-shop .search-panel .search-buttons {
  display: flex;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
body .continer .content-continer main .donuts-shop .search-panel .search-buttons .main, body .continer .content-continer main .donuts-shop .search-panel .search-buttons .bag, body .continer .content-continer main .donuts-shop .search-panel .search-buttons .favorites {
  background-color: white;
  border-radius: 50px;
  position: relative;
}
body .continer .content-continer main .donuts-shop .search-panel .search-buttons .main:hover, body .continer .content-continer main .donuts-shop .search-panel .search-buttons .bag:hover, body .continer .content-continer main .donuts-shop .search-panel .search-buttons .favorites:hover {
  background-color: rgb(0, 87, 209);
}
body .continer .content-continer main .donuts-shop .search-panel .search-buttons .main img, body .continer .content-continer main .donuts-shop .search-panel .search-buttons .bag img, body .continer .content-continer main .donuts-shop .search-panel .search-buttons .favorites img {
  height: 50px;
  width: 50px;
}
body .continer .content-continer main .donuts-shop .search-panel .search-buttons .main .coun-of-bay, body .continer .content-continer main .donuts-shop .search-panel .search-buttons .bag .coun-of-bay, body .continer .content-continer main .donuts-shop .search-panel .search-buttons .favorites .coun-of-bay {
  height: 25px;
  width: 25px;
  border-radius: 50px;
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: rgb(162, 111, 230);
  display: flex;
  align-items: center;
  justify-content: center;
}
body .continer .content-continer main .donuts-shop .search-panel .search-buttons .main .coun-of-bay p, body .continer .content-continer main .donuts-shop .search-panel .search-buttons .bag .coun-of-bay p, body .continer .content-continer main .donuts-shop .search-panel .search-buttons .favorites .coun-of-bay p {
  font-size: 15px;
}
body .continer .content-continer main .donuts-shop .search-panel .search-line {
  display: flex;
  -moz-column-gap: 10px;
       column-gap: 10px;
  position: relative;
}
body .continer .content-continer main .donuts-shop .search-panel .search-line .search-line-continer input {
  color: #541111;
  border-radius: 50px;
  font-size: 20px;
  padding: 10px 10px 10px 50px;
  width: 750px;
  min-width: 300px;
  background-color: #E3A44F;
}
body .continer .content-continer main .donuts-shop .search-panel .search-line .search-line-continer input::-moz-placeholder {
  color: white;
}
body .continer .content-continer main .donuts-shop .search-panel .search-line .search-line-continer input::placeholder {
  color: white;
}
body .continer .content-continer main .donuts-shop .search-panel .search-line .search-line-continer .donut-img {
  position: absolute;
  left: 0;
}
body .continer .content-continer main .donuts-shop .search-panel .search-line .find {
  color: #541111;
  width: 100px;
  background-color: #83BECC;
  border-radius: 50px;
  font-size: 20px;
}
body .continer .content-continer main .donuts-shop .search-panel .search-line .find:hover {
  background-color: rgb(0, 87, 209);
}
body .continer .content-continer main .donuts-shop .adaptiv-lay .donuts-categories {
  background-color: #541111;
}
body .continer .content-continer main .donuts-shop .adaptiv-lay .donuts-categories .categories {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 130px;
}
body .continer .content-continer main .donuts-shop .adaptiv-lay .donuts-categories .categories ul {
  flex: 1;
}
body .continer .content-continer main .donuts-shop .adaptiv-lay .donuts-categories .categories ul li {
  padding: 10px 10px;
  color: white;
  font-size: 22px;
  text-shadow: -0.5px 1px 0px #cb8204;
  transition: font-size 0.3s ease;
  text-align: center;
}
body .continer .content-continer main .donuts-shop .adaptiv-lay .donuts-categories .categories ul li:hover {
  color: rgb(52, 85, 255);
  font-size: 30px;
  border: 1px solid #DBABAB;
  border-radius: 50px;
}
body .continer .content-continer main .donuts-shop .adaptiv-lay .goods-sliders {
  background-color: #DBABAB;
}
body .continer .content-continer main .donuts-shop .adaptiv-lay .goods-sliders .wraper-conteiner {
  overflow-x: hidden;
}
body .continer .content-continer main .donuts-shop .adaptiv-lay .goods-sliders .wraper-conteiner .wraper {
  position: relative;
}
body .continer .content-continer main .donuts-shop .adaptiv-lay .goods-sliders .wraper-conteiner .wraper .left, body .continer .content-continer main .donuts-shop .adaptiv-lay .goods-sliders .wraper-conteiner .wraper .right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  z-index: 1;
}
body .continer .content-continer main .donuts-shop .adaptiv-lay .goods-sliders .wraper-conteiner .wraper .left img, body .continer .content-continer main .donuts-shop .adaptiv-lay .goods-sliders .wraper-conteiner .wraper .right img {
  width: 40px;
}
@media (min-width: 568px) {
  body .continer .content-continer main .donuts-shop .adaptiv-lay .goods-sliders .wraper-conteiner .wraper .left img, body .continer .content-continer main .donuts-shop .adaptiv-lay .goods-sliders .wraper-conteiner .wraper .right img {
    width: 50px;
  }
}
@media (min-width: 1024px) {
  body .continer .content-continer main .donuts-shop .adaptiv-lay .goods-sliders .wraper-conteiner .wraper .left img, body .continer .content-continer main .donuts-shop .adaptiv-lay .goods-sliders .wraper-conteiner .wraper .right img {
    width: 120px;
  }
}
body .continer .content-continer main .donuts-shop .adaptiv-lay .goods-sliders .wraper-conteiner .wraper .right {
  right: 20px;
}
body .continer .content-continer main .donuts-shop .adaptiv-lay .goods-sliders .wraper-conteiner .wraper .left {
  left: 20px;
}
body .continer .content-continer main .donuts-shop .adaptiv-lay .goods-sliders .wraper-conteiner .wraper .carousel {
  display: flex;
}
body .continer .content-continer main .donuts-shop .adaptiv-lay .goods-sliders .wraper-conteiner .wraper .carousel .slid {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  display: flex;
  width: 25%;
}
body .continer .content-continer main .donuts-shop .adaptiv-lay .goods-sliders .wraper-conteiner .wraper .carousel .slid .cards-conteiner {
  margin: 10px;
}
body .continer .content-continer main .donuts-shop .adaptiv-lay .goods-sliders .wraper-conteiner .wraper .carousel .slid .cards-conteiner .product-img {
  width: 300px;
  height: 550px;
  position: relative;
}
body .continer .content-continer main .donuts-shop .adaptiv-lay .goods-sliders .wraper-conteiner .wraper .carousel .slid .cards-conteiner .product-img .product-foto {
  border-radius: 10px 10px 0 0;
  width: 300px;
  height: 550px;
}
body .continer .content-continer main .donuts-shop .adaptiv-lay .goods-sliders .wraper-conteiner .wraper .carousel .slid .cards-conteiner .product-img .bascet-button {
  position: absolute;
  height: 100%;
  width: 100%;
  bottom: 0;
  display: flex;
}
body .continer .content-continer main .donuts-shop .adaptiv-lay .goods-sliders .wraper-conteiner .wraper .carousel .slid .cards-conteiner .product-img .bascet-button .ad-to-basket {
  align-self: flex-end;
  width: 100%;
  height: 70px;
  border-radius: 30px 30px 0 0;
  background-color: rgba(238, 231, 27, 0.8039215686);
  font-size: 30px;
}
body .continer .content-continer main .donuts-shop .adaptiv-lay .goods-sliders .wraper-conteiner .wraper .carousel .slid .cards-conteiner .product-img .bascet-button .ad-to-basket:hover {
  background-color: #ee7d1b;
  border: 2px solid purple;
  color: #541146;
}
body .continer .content-continer main .donuts-shop .adaptiv-lay .goods-sliders .wraper-conteiner .wraper .carousel .slid .cards-conteiner .product-img .card-info-indicator {
  position: absolute;
  z-index: 1;
  top: 20px;
  left: 10px;
  background-color: #2bdf37;
  width: 120px;
  height: 30px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .continer .content-continer main .donuts-shop .adaptiv-lay .goods-sliders .wraper-conteiner .wraper .carousel .slid .cards-conteiner .product-img .card-info-indicator p {
  font-size: 18px;
}
body .continer .content-continer main .donuts-shop .adaptiv-lay .goods-sliders .wraper-conteiner .wraper .carousel .slid .cards-conteiner .product-img .star-feach {
  position: absolute;
  z-index: 1;
  top: 10px;
  right: 10px;
  background: none;
}
body .continer .content-continer main .donuts-shop .adaptiv-lay .goods-sliders .wraper-conteiner .wraper .carousel .slid .cards-conteiner .product-img .star-feach img {
  height: 50px;
  width: 50px;
  transition: transform 0.3s ease;
}
body .continer .content-continer main .donuts-shop .adaptiv-lay .goods-sliders .wraper-conteiner .wraper .carousel .slid .cards-conteiner .product-img .star-feach img:hover {
  transform: rotate(20deg);
}
body .continer .content-continer main .donuts-shop .adaptiv-lay .goods-sliders .wraper-conteiner .wraper .carousel .slid .cards-conteiner .product-info {
  background-color: #8383FF;
  border-radius: 0 0 10px 10px;
  padding: 10px;
  width: 300px;
  height: 150px;
}
body .continer .content-continer main .donuts-shop .adaptiv-lay .goods-sliders .wraper-conteiner .wraper .carousel .slid .cards-conteiner .product-info .description p {
  font-size: 20px;
  color: #C52139;
}
body .continer .content-continer main .donuts-shop .adaptiv-lay .goods-sliders .wraper-conteiner .wraper .carousel .slid .cards-conteiner .product-info .description p span {
  color: white;
}
body .continer .content-continer main .donuts-shop .adaptiv-lay .goods-sliders .wraper-conteiner .wraper .carousel .slid .cards-conteiner .product-info .description .desk {
  font-size: 18px;
  color: #111f54;
}
body .continer .content-continer main .donuts-shop .adaptiv-lay .goods-sliders .wraper-conteiner .wraper .carousel .slid .cards-conteiner .product-info .price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body .continer .content-continer main .donuts-shop .adaptiv-lay .goods-sliders .wraper-conteiner .wraper .carousel .slid .cards-conteiner .product-info .price .info .weight, body .continer .content-continer main .donuts-shop .adaptiv-lay .goods-sliders .wraper-conteiner .wraper .carousel .slid .cards-conteiner .product-info .price .info .calories {
  color: #541111;
  font-size: 20px;
  padding: 5px;
}
body .continer .content-continer main .donuts-shop .adaptiv-lay .goods-sliders .wraper-conteiner .wraper .carousel .slid .cards-conteiner .product-info .price .price-conteiner .discount-price {
  font-size: 35px;
  color: #f2083b;
  padding: 5px;
}
body .continer .content-continer main .donuts-shop .adaptiv-lay .goods-sliders .wraper-conteiner .wraper .carousel .slid .cards-conteiner .product-info .price .price-conteiner .real-price {
  font-size: 20px;
  text-decoration: line-through;
  text-align: end;
}
body .continer .content-continer main .donuts-shop .will-call {
  display: flex;
  justify-content: space-around;
  background-color: #541111;
  align-items: center;
}
body .continer .content-continer main .donuts-shop .will-call .order {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: none;
  -moz-column-gap: 20px;
       column-gap: 20px;
  padding: 10px 0;
}
body .continer .content-continer main .donuts-shop .will-call .order p {
  color: white;
  font-size: 60px;
}
body .continer .content-continer main .donuts-shop .will-call .order p:hover {
  color: rgb(11, 255, 80);
}
body .continer .content-continer main .donuts-shop .will-call .order .bag-img {
  background: white;
  border-radius: 50px;
  position: relative;
}
body .continer .content-continer main .donuts-shop .will-call .order .bag-img img {
  width: 100%;
}
body .continer .content-continer main .donuts-shop .will-call .order .bag-img .coun-of-bay {
  height: 40px;
  width: 40px;
  border-radius: 50px;
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: rgb(162, 111, 230);
  display: flex;
  align-items: center;
  justify-content: center;
}
body .continer .content-continer main .donuts-shop .will-call .order .bag-img .coun-of-bay p {
  font-size: 20px;
  color: #000000;
}
body .continer .content-continer main .donuts-shop .will-call p {
  color: white;
  font-size: 60px;
}
body .continer .content-continer main .donuts-shop .will-call .call {
  display: flex;
  align-items: center;
}
body .continer .content-continer main .donuts-shop .will-call .call a {
  font-size: 40px;
  color: rgb(255, 133, 19);
  padding: 0 50px;
}
body .continer .content-continer main .donuts-shop .will-call .call a:hover {
  color: rgb(255, 11, 11);
}
body .continer .content-continer main .donuts-shop .create-set {
  background-color: #B50E99;
}
body .continer .content-continer main .donuts-shop .create-set .create {
  display: flex;
  justify-content: space-between;
  padding: 0 55px;
}
body .continer .content-continer main .donuts-shop .create-set .create .offer {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
body .continer .content-continer main .donuts-shop .create-set .create .offer p {
  color: white;
  font-size: 70px;
}
body .continer .content-continer main .donuts-shop .create-set .create .choose-box {
  display: flex;
  justify-content: space-between;
  padding: 0 85px;
}
body .continer .content-continer main .donuts-shop .create-set .create .choose-box .choose {
  width: 100px;
  height: 150px;
  margin: 10px;
  border-radius: 10px;
}
body .continer .content-continer main .donuts-shop .create-set .create .choose-box .choose:hover {
  background-color: #8383FF;
}
body .continer .content-continer main .donuts-shop .create-set .create .choose-box .choose p {
  font-size: 70px;
}
body .continer .content-continer main .donuts-shop .create-set .create .choose-box .choose.active {
  background-color: #8383FF;
}
body .continer .content-continer main .donuts-shop .create-set .box-continer {
  background: url("../img/bacground/2.svg") no-repeat center center;
  background-size: cover;
}
body .continer .content-continer main .donuts-shop .create-set .box-continer .box {
  width: 100%;
  height: 650px;
  display: flex;
  justify-content: space-between;
}
body .continer .content-continer main .donuts-shop .create-set .box-continer .box .donuts-box {
  position: relative;
  margin: 50px 0 0 50px;
  animation: fadeInDown 1s ease-in-out;
}
@keyframes fadeInDown {
  0% {
    transform: translateY(-30px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
body .continer .content-continer main .donuts-shop .create-set .box-continer .box .donuts-box .wish {
  width: 100%;
  position: absolute;
  text-align: center;
  bottom: 50px;
  z-index: 5;
}
body .continer .content-continer main .donuts-shop .create-set .box-continer .box .donuts-box .wish p {
  color: #ffffff;
  font-size: 80px;
}
body .continer .content-continer main .donuts-shop .create-set .box-continer .box .donuts-box .body-box {
  width: 900px;
}
body .continer .content-continer main .donuts-shop .create-set .box-continer .box .donuts-box .box-element {
  position: absolute;
  width: 900px;
  left: 0;
  bottom: 35px;
  z-index: 5;
}
body .continer .content-continer main .donuts-shop .create-set .box-continer .box .donuts-box .donuts-count, body .continer .content-continer main .donuts-shop .create-set .box-continer .box .donuts-box .cap {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 2;
}
body .continer .content-continer main .donuts-shop .create-set .box-continer .box .donuts-box .donuts-count .count-donuts-conteiner, body .continer .content-continer main .donuts-shop .create-set .box-continer .box .donuts-box .cap .count-donuts-conteiner {
  height: 475px;
  margin: 0 70px;
  padding: 0 20px;
  transform-origin: center top;
  transform: perspective(1000px) rotateX(18deg);
  position: relative;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  row-gap: 2px;
  -moz-column-gap: 2px;
       column-gap: 2px;
}
body .continer .content-continer main .donuts-shop .create-set .box-continer .box .donuts-box .donuts-count .count-donuts-conteiner .line-conteiner, body .continer .content-continer main .donuts-shop .create-set .box-continer .box .donuts-box .cap .count-donuts-conteiner .line-conteiner {
  display: flex;
  align-items: center;
  flex-direction: column;
}
body .continer .content-continer main .donuts-shop .create-set .box-continer .box .donuts-box .donuts-count .count-donuts-conteiner .line-conteiner .donut-cell1, body .continer .content-continer main .donuts-shop .create-set .box-continer .box .donuts-box .donuts-count .count-donuts-conteiner .line-conteiner .donut-cell2, body .continer .content-continer main .donuts-shop .create-set .box-continer .box .donuts-box .donuts-count .count-donuts-conteiner .line-conteiner .donut-cell3, body .continer .content-continer main .donuts-shop .create-set .box-continer .box .donuts-box .donuts-count .count-donuts-conteiner .line-conteiner .donut-cell4, body .continer .content-continer main .donuts-shop .create-set .box-continer .box .donuts-box .cap .count-donuts-conteiner .line-conteiner .donut-cell1, body .continer .content-continer main .donuts-shop .create-set .box-continer .box .donuts-box .cap .count-donuts-conteiner .line-conteiner .donut-cell2, body .continer .content-continer main .donuts-shop .create-set .box-continer .box .donuts-box .cap .count-donuts-conteiner .line-conteiner .donut-cell3, body .continer .content-continer main .donuts-shop .create-set .box-continer .box .donuts-box .cap .count-donuts-conteiner .line-conteiner .donut-cell4 {
  height: 200px;
  width: 170px;
  transform: rotateX(-30deg);
  position: absolute;
  background-color: rgba(201, 76, 215, 0.9725490196);
  border-radius: 20px;
  border: 2px solid black;
  transition: transform 0.3s ease;
  cursor: pointer;
}
body .continer .content-continer main .donuts-shop .create-set .box-continer .box .donuts-box .donuts-count .count-donuts-conteiner .line-conteiner .donut-cell1:hover, body .continer .content-continer main .donuts-shop .create-set .box-continer .box .donuts-box .donuts-count .count-donuts-conteiner .line-conteiner .donut-cell2:hover, body .continer .content-continer main .donuts-shop .create-set .box-continer .box .donuts-box .donuts-count .count-donuts-conteiner .line-conteiner .donut-cell3:hover, body .continer .content-continer main .donuts-shop .create-set .box-continer .box .donuts-box .donuts-count .count-donuts-conteiner .line-conteiner .donut-cell4:hover, body .continer .content-continer main .donuts-shop .create-set .box-continer .box .donuts-box .cap .count-donuts-conteiner .line-conteiner .donut-cell1:hover, body .continer .content-continer main .donuts-shop .create-set .box-continer .box .donuts-box .cap .count-donuts-conteiner .line-conteiner .donut-cell2:hover, body .continer .content-continer main .donuts-shop .create-set .box-continer .box .donuts-box .cap .count-donuts-conteiner .line-conteiner .donut-cell3:hover, body .continer .content-continer main .donuts-shop .create-set .box-continer .box .donuts-box .cap .count-donuts-conteiner .line-conteiner .donut-cell4:hover {
  transform: rotateX(0deg);
}
body .continer .content-continer main .donuts-shop .create-set .box-continer .box .donuts-box .donuts-count .count-donuts-conteiner .line-conteiner .donut-cell1 img, body .continer .content-continer main .donuts-shop .create-set .box-continer .box .donuts-box .donuts-count .count-donuts-conteiner .line-conteiner .donut-cell2 img, body .continer .content-continer main .donuts-shop .create-set .box-continer .box .donuts-box .donuts-count .count-donuts-conteiner .line-conteiner .donut-cell3 img, body .continer .content-continer main .donuts-shop .create-set .box-continer .box .donuts-box .donuts-count .count-donuts-conteiner .line-conteiner .donut-cell4 img, body .continer .content-continer main .donuts-shop .create-set .box-continer .box .donuts-box .cap .count-donuts-conteiner .line-conteiner .donut-cell1 img, body .continer .content-continer main .donuts-shop .create-set .box-continer .box .donuts-box .cap .count-donuts-conteiner .line-conteiner .donut-cell2 img, body .continer .content-continer main .donuts-shop .create-set .box-continer .box .donuts-box .cap .count-donuts-conteiner .line-conteiner .donut-cell3 img, body .continer .content-continer main .donuts-shop .create-set .box-continer .box .donuts-box .cap .count-donuts-conteiner .line-conteiner .donut-cell4 img {
  height: 100%;
  width: 100%;
}
body .continer .content-continer main .donuts-shop .create-set .box-continer .box .donuts-box .donuts-count .count-donuts-conteiner .line-conteiner .donut-cell1, body .continer .content-continer main .donuts-shop .create-set .box-continer .box .donuts-box .cap .count-donuts-conteiner .line-conteiner .donut-cell1 {
  top: 0;
  z-index: 1;
}
body .continer .content-continer main .donuts-shop .create-set .box-continer .box .donuts-box .donuts-count .count-donuts-conteiner .line-conteiner .donut-cell2, body .continer .content-continer main .donuts-shop .create-set .box-continer .box .donuts-box .cap .count-donuts-conteiner .line-conteiner .donut-cell2 {
  top: 100px;
  z-index: 2;
}
body .continer .content-continer main .donuts-shop .create-set .box-continer .box .donuts-box .donuts-count .count-donuts-conteiner .line-conteiner .donut-cell3, body .continer .content-continer main .donuts-shop .create-set .box-continer .box .donuts-box .cap .count-donuts-conteiner .line-conteiner .donut-cell3 {
  top: 200px;
  z-index: 3;
}
body .continer .content-continer main .donuts-shop .create-set .box-continer .box .donuts-box .donuts-count .count-donuts-conteiner .line-conteiner .donut-cell4, body .continer .content-continer main .donuts-shop .create-set .box-continer .box .donuts-box .cap .count-donuts-conteiner .line-conteiner .donut-cell4 {
  top: 300px;
  z-index: 4;
}
body .continer .content-continer main .donuts-shop .create-set .box-continer .box .donuts-box .donuts-count .count-donuts-conteiner .line-conteiner .donut-cell4.hide-donut-cell, body .continer .content-continer main .donuts-shop .create-set .box-continer .box .donuts-box .cap .count-donuts-conteiner .line-conteiner .donut-cell4.hide-donut-cell {
  display: none;
}
body .continer .content-continer main .donuts-shop .create-set .box-continer .box .donuts-box .donuts-count .count-donuts-conteiner .line-conteiner.hide-donuts-conteiner, body .continer .content-continer main .donuts-shop .create-set .box-continer .box .donuts-box .cap .count-donuts-conteiner .line-conteiner.hide-donuts-conteiner {
  display: none;
}
body .continer .content-continer main .donuts-shop .create-set .box-continer .box .donuts-box .cap {
  z-index: 1;
}
body .continer .content-continer main .donuts-shop .create-set .box-continer .box .donuts-box .cap .box-cap {
  background: url("../img/box/cap.svg") no-repeat center center fixed;
  background-size: cover;
  height: 425px;
  margin: 0 56px;
  transform-origin: center top;
  transform: perspective(1000px) rotateX(270deg);
  position: relative;
}
body .continer .content-continer main .donuts-shop .create-set .box-continer .box .donuts-box .cap .box-cap .front {
  z-index: 2;
}
body .continer .content-continer main .donuts-shop .create-set .box-continer .box .donuts-box .cap .box-cap .front .form-continer {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .continer .content-continer main .donuts-shop .create-set .box-continer .box .donuts-box .cap .box-cap .front .form-continer form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 0 0 150px 0;
}
body .continer .content-continer main .donuts-shop .create-set .box-continer .box .donuts-box .cap .box-cap .front .form-continer form .location input, body .continer .content-continer main .donuts-shop .create-set .box-continer .box .donuts-box .cap .box-cap .front .form-continer form .naim input, body .continer .content-continer main .donuts-shop .create-set .box-continer .box .donuts-box .cap .box-cap .front .form-continer form .phone-number input {
  height: 35px;
  width: 300px;
  margin: 10px 0;
  padding: 0 10px;
  font-size: 20px;
  border-radius: 50px;
  box-shadow: -5px 12px 3px 0px rgba(0, 0, 0, 0.5);
  border: 1px solid #000;
}
body .continer .content-continer main .donuts-shop .create-set .box-continer .box .donuts-box .cap .box-cap .front .form-continer form .location input::-moz-placeholder, body .continer .content-continer main .donuts-shop .create-set .box-continer .box .donuts-box .cap .box-cap .front .form-continer form .naim input::-moz-placeholder, body .continer .content-continer main .donuts-shop .create-set .box-continer .box .donuts-box .cap .box-cap .front .form-continer form .phone-number input::-moz-placeholder {
  color: #000;
}
body .continer .content-continer main .donuts-shop .create-set .box-continer .box .donuts-box .cap .box-cap .front .form-continer form .location input::placeholder, body .continer .content-continer main .donuts-shop .create-set .box-continer .box .donuts-box .cap .box-cap .front .form-continer form .naim input::placeholder, body .continer .content-continer main .donuts-shop .create-set .box-continer .box .donuts-box .cap .box-cap .front .form-continer form .phone-number input::placeholder {
  color: #000;
}
body .continer .content-continer main .donuts-shop .create-set .box-continer .box .donuts-box .cap .box-cap .front .form-continer form .order-more {
  height: 50px;
  width: 300px;
  background-color: #a910dc;
  border-radius: 50px;
  border: 1px solid #000;
  background: #C52139;
  box-shadow: -5px 12px 3px 0px rgba(0, 0, 0, 0.5);
  font-size: 40px;
  color: rgb(0, 94, 234);
}
body .continer .content-continer main .donuts-shop .create-set .box-continer .box .donuts-box .cap .box-cap .front .form-continer form .order-more:hover {
  background: #680110;
  color: white;
}
body .continer .content-continer main .donuts-shop .create-set .box-continer .box .donuts-box .cap .box-cap .front .logo {
  position: absolute;
  width: 100%;
  background: none;
  bottom: 35px;
  right: 40px;
}
body .continer .content-continer main .donuts-shop .create-set .box-continer .box .donuts-box .cap .box-cap .front .logo p {
  font-size: 65px;
}
body .continer .content-continer main .donuts-shop .create-set .box-continer .box .donuts-box .cap .box-cap .front .logo p:hover {
  color: rgb(255, 2, 53);
}
body .continer .content-continer main .donuts-shop .create-set .box-continer .box .donuts-box .cap .box-cap .front .logo-img {
  position: absolute;
  background: none;
  bottom: 40px;
  right: 30px;
}
body .continer .content-continer main .donuts-shop .create-set .box-continer .box .donuts-box .cap .box-cap .front .logo-img img {
  height: 70px;
  width: 70px;
  box-shadow: -11px 15px 3px 0px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}
body .continer .content-continer main .donuts-shop .create-set .box-continer .box .donuts-box .cap .box-cap .back {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform: perspective(1000px) rotateX(180deg);
  background-color: #5C3317;
  backface-visibility: visible;
}
body .continer .content-continer main .donuts-shop .create-set .box-continer .box .donuts-box .cap .box-cap .back.activHiden {
  backface-visibility: hidden;
}
body .continer .content-continer main .donuts-shop .create-set .box-continer .box .donuts-box .cap .box-cap.animate {
  animation-name: rotateAnimation;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}
@keyframes rotateAnimation {
  from {
    transform: perspective(1000px) rotateX(270deg);
  }
  to {
    transform: perspective(1000px) rotateX(18deg);
  }
}
body .continer .content-continer main .donuts-shop .create-set .box-continer .box .donuts-box .cap .box-cap.reverseAnimate {
  animation-name: reverseRotateAnimation;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}
@keyframes reverseRotateAnimation {
  from {
    transform: perspective(1000px) rotateX(18deg);
  }
  to {
    transform: perspective(1000px) rotateX(270deg);
  }
}
body .continer .content-continer main .donuts-shop .create-set .box-continer .box .donuts-box .cap.index {
  z-index: 6;
}
body .continer .content-continer main .donuts-shop .create-set .box-continer .box .bill-box {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url("../img/bacground/3.svg") no-repeat center center;
  background-size: cover;
  animation: fadeInApp 1s ease-in-out;
}
@keyframes fadeInApp {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
body .continer .content-continer main .donuts-shop .create-set .box-continer .box .bill-box .create-price-conteiner {
  background-color: #83BECC;
  border-radius: 10px;
  text-align: center;
  border: 1px solid black;
}
body .continer .content-continer main .donuts-shop .create-set .box-continer .box .bill-box .create-price-conteiner .create-ovn-pack {
  width: 200px;
  height: 100px;
  border-radius: 10px;
  background-color: #dc7610;
  color: white;
  font-size: 40px;
}
body .continer .content-continer main .donuts-shop .create-set .box-continer .box .bill-box .create-price-conteiner .create-ovn-pack:hover {
  background-color: #a910dc;
}
body .continer .content-continer main .donuts-shop .create-set .box-continer .box .bill-box .create-price-conteiner p {
  color: rgb(254, 6, 60);
  padding: 10px 0;
  font-size: 50px;
}
body .continer .content-continer main .donuts-shop .create-set .box-continer .choose-donuts {
  width: 100%;
  background-color: #B50E99;
}
body .continer .content-continer main .donuts-shop .create-set .box-continer .choose-donuts .wraper-conteiner {
  overflow-x: hidden;
}
body .continer .content-continer main .donuts-shop .create-set .box-continer .choose-donuts .wraper-conteiner .wraper {
  position: relative;
}
body .continer .content-continer main .donuts-shop .create-set .box-continer .choose-donuts .wraper-conteiner .wraper .left, body .continer .content-continer main .donuts-shop .create-set .box-continer .choose-donuts .wraper-conteiner .wraper .right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  z-index: 1;
}
body .continer .content-continer main .donuts-shop .create-set .box-continer .choose-donuts .wraper-conteiner .wraper .left img, body .continer .content-continer main .donuts-shop .create-set .box-continer .choose-donuts .wraper-conteiner .wraper .right img {
  width: 40px;
}
@media (min-width: 568px) {
  body .continer .content-continer main .donuts-shop .create-set .box-continer .choose-donuts .wraper-conteiner .wraper .left img, body .continer .content-continer main .donuts-shop .create-set .box-continer .choose-donuts .wraper-conteiner .wraper .right img {
    width: 50px;
  }
}
@media (min-width: 1024px) {
  body .continer .content-continer main .donuts-shop .create-set .box-continer .choose-donuts .wraper-conteiner .wraper .left img, body .continer .content-continer main .donuts-shop .create-set .box-continer .choose-donuts .wraper-conteiner .wraper .right img {
    width: 70px;
  }
}
body .continer .content-continer main .donuts-shop .create-set .box-continer .choose-donuts .wraper-conteiner .wraper .right {
  right: 20px;
}
body .continer .content-continer main .donuts-shop .create-set .box-continer .choose-donuts .wraper-conteiner .wraper .left {
  left: 20px;
}
body .continer .content-continer main .donuts-shop .create-set .box-continer .choose-donuts .wraper-conteiner .wraper .carousel {
  display: flex;
  margin: 10px;
}
body .continer .content-continer main .donuts-shop .create-set .box-continer .choose-donuts .wraper-conteiner .wraper .carousel .slid {
  flex: 0 0 auto;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  display: flex;
  flex-direction: column;
  width: 14.2857142857%;
  padding: 5px;
}
body .continer .content-continer main .donuts-shop .create-set .box-continer .choose-donuts .wraper-conteiner .wraper .carousel .slid .img-one-donut {
  background-color: rgb(105, 99, 189);
  border-radius: 10px 10px 0 0;
}
body .continer .content-continer main .donuts-shop .create-set .box-continer .choose-donuts .wraper-conteiner .wraper .carousel .slid .img-one-donut img {
  width: 100%;
  height: 220px;
}
body .continer .content-continer main .donuts-shop .create-set .box-continer .choose-donuts .wraper-conteiner .wraper .carousel .slid .onlu-donut-conteiner {
  background-color: cadetblue;
  display: flex;
  border-radius: 0 0 10px 10px;
  justify-content: space-around;
  padding: 5px;
}
body .continer .content-continer main .donuts-shop .create-set .box-continer .choose-donuts .wraper-conteiner .wraper .carousel .slid .onlu-donut-conteiner .donut-naim p {
  font-size: 20px;
  color: white;
}
body .continer .content-continer main .donuts-shop .create-set .box-continer .choose-donuts .wraper-conteiner .wraper .carousel .slid .onlu-donut-conteiner .price .real-price {
  font-size: 30px;
  color: #f2083b;
}
body .continer .content-continer main .donuts-shop .create-set .box-continer .choose-donuts .wraper-conteiner .wraper .carousel .slid .onlu-donut-conteiner .price .second-price {
  font-size: 20px;
  text-decoration: line-through;
}
body .continer .content-continer footer .navigation {
  height: 330px;
  width: 1440px;
  background: linear-gradient(to bottom, #541111, #541149);
  display: flex;
  justify-content: space-around;
  align-items: center;
}
body .continer .content-continer footer .navigation nav {
  flex: 1;
  display: flex;
  flex-direction: column;
  animation: fadeInDown 1s ease-in-out;
  text-align: center;
}
body .continer .content-continer footer .navigation nav a {
  color: white;
  font-size: 40px;
  padding: 10px 0;
  transition: font-size 0.3s ease;
}
body .continer .content-continer footer .navigation nav a:hover {
  color: rgb(52, 85, 255);
  font-size: 44px;
}
@keyframes fadeInDown {
  0% {
    transform: translateY(-20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
body .continer .content-continer footer .navigation .logo {
  flex: 1;
  text-align: center;
  font-size: 70px;
  letter-spacing: 4px;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
  animation: fadeInUp 1s ease-in-out; /* Анимация появления */
  color: #f5ff39;
  transition: font-size 0.3s ease;
}
body .continer .content-continer footer .navigation .logo:hover {
  color: rgb(98, 3, 221);
  font-size: 75px;
}
body .continer .content-continer footer .navigation .logo p {
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  position: relative;
  animation: glow 2s ease-in-out infinite;
  cursor: pointer;
}
@keyframes fadeInUp {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
body .continer .content-continer footer .info-conpany {
  display: flex;
  justify-content: space-around;
  background: linear-gradient(to bottom, #541149, #541111);
}
body .continer .content-continer footer .info-conpany .column {
  flex: 1;
  height: 140px;
  text-align: center;
}
body .continer .content-continer footer .info-conpany .column p {
  color: white;
  font-size: 25px;
  padding: 10px 0;
  transition: font-size 0.3s ease;
}
body .continer .content-continer footer .info-conpany .column p:hover {
  color: rgb(98, 3, 221);
  font-size: 30px;
}