@charset "UTF-8";
@font-face {
  font-family: "Kavoon";
  src: url("../fonts/Kavoon-Regular.ttf") format("truetype");
}
body {
  background: url("../img/bacground/background1.svg") no-repeat center center fixed;
  background-size: cover;
  font-family: "Kavoon";
}
body .continer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body .continer .content-continer {
  border-left: 5px solid black;
  border-right: 5px solid black;
}
body .continer .content-continer header {
  height: 230px;
  width: 1440px;
  background: linear-gradient(to bottom, #541111, #541149);
  display: flex;
  justify-content: space-around;
  align-items: center;
}
body .continer .content-continer header nav {
  display: flex;
  flex-direction: column;
  animation: fadeInDown 1s ease-in-out;
}
body .continer .content-continer header nav a {
  color: white;
  font-size: 40px;
  padding: 10px 0;
  transition: font-size 0.3s ease;
}
body .continer .content-continer header nav a:hover {
  color: rgb(52, 85, 255);
  font-size: 44px;
}
@keyframes fadeInDown {
  0% {
    transform: translateY(-20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
body .continer .content-continer header .logo {
  text-align: center;
  font-size: 70px;
  letter-spacing: 4px;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
  animation: fadeInUp 1s ease-in-out; /* Анимация появления */
  color: #f5ff39;
  transition: font-size 0.3s ease;
}
body .continer .content-continer header .logo:hover {
  color: rgb(98, 3, 221);
  font-size: 75px;
}
body .continer .content-continer header .logo p {
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  position: relative;
  animation: glow 2s ease-in-out infinite;
  cursor: pointer;
}
@keyframes fadeInUp {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
body .continer .content-continer main {
  width: 1440px;
}
body .continer .content-continer main .animations {
  position: relative;
}
body .continer .content-continer main .animations .order-block {
  height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
body .continer .content-continer main .animations .order-block a {
  font-size: 100px;
  color: white;
  -webkit-text-stroke: 2px #000000;
  transform: scale(0);
  opacity: 0;
  animation: scaleIn 3s forwards;
  transition: font-size 0.3s ease;
}
body .continer .content-continer main .animations .order-block a:hover {
  color: rgb(52, 85, 255);
  font-size: 110px;
}
@keyframes scaleIn {
  to {
    transform: scale(1);
    opacity: 1;
  }
}
body .continer .content-continer main .animations .qr {
  position: absolute;
  right: 30px;
  bottom: 30px;
}
body .continer .content-continer main .animations .qr img {
  width: 100px;
  height: 100px;
}
body .continer .content-continer main .animations .rotate-wrapper {
  overflow: hidden;
  width: 100%;
  height: 510px;
  background-color: #541146;
}
body .continer .content-continer main .animations .rotate-wrapper .rotait {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  transform: rotate(45deg) translate(-100px, -1110px);
  transform-origin: top left;
}
body .continer .content-continer main .animations .rotate-wrapper .rotait .image-slider {
  width: calc(25% + 70px);
  height: 100vw;
  animation: moveSliderDown linear infinite 60s;
}
@keyframes moveSliderDown {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100%);
  }
}
body .continer .content-continer main .animations .rotate-wrapper .rotait .image-slider .image-container {
  display: flex;
  flex-direction: column;
  animation: movePhotos linear infinite 60s;
}
@keyframes movePhotos {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}
body .continer .content-continer main .animations .rotate-wrapper .rotait .image-slider .image-container img {
  height: auto;
  border-radius: 10px;
  margin: 3px;
}
body .continer .content-continer main .donuts-shop .search-panel {
  background: linear-gradient(to bottom, #541149, #541111);
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 2px solid white;
}
body .continer .content-continer main .donuts-shop .search-panel .search-buttons {
  display: flex;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
body .continer .content-continer main .donuts-shop .search-panel .search-buttons .main, body .continer .content-continer main .donuts-shop .search-panel .search-buttons .bag, body .continer .content-continer main .donuts-shop .search-panel .search-buttons .favorites {
  background-color: white;
  border-radius: 50px;
}
body .continer .content-continer main .donuts-shop .search-panel .search-buttons .main:hover, body .continer .content-continer main .donuts-shop .search-panel .search-buttons .bag:hover, body .continer .content-continer main .donuts-shop .search-panel .search-buttons .favorites:hover {
  background-color: rgb(0, 87, 209);
}
body .continer .content-continer main .donuts-shop .search-panel .search-buttons .main img, body .continer .content-continer main .donuts-shop .search-panel .search-buttons .bag img, body .continer .content-continer main .donuts-shop .search-panel .search-buttons .favorites img {
  height: 50px;
  width: 50px;
}
body .continer .content-continer main .donuts-shop .search-panel .search-line {
  display: flex;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
body .continer .content-continer main .donuts-shop .search-panel .search-line input {
  color: #541111;
  border-radius: 50px;
  font-size: 20px;
  padding: 5px 10px;
  width: 450px;
  background-color: #E3A44F;
}
body .continer .content-continer main .donuts-shop .search-panel .search-line input::-moz-placeholder {
  color: white;
}
body .continer .content-continer main .donuts-shop .search-panel .search-line input::placeholder {
  color: white;
}
body .continer .content-continer main .donuts-shop .search-panel .search-line .find {
  color: #541111;
  width: 100px;
  background-color: #83BECC;
  border-radius: 50px;
  font-size: 20px;
}
body .continer .content-continer main .donuts-shop .search-panel .search-line .find:hover {
  background-color: rgb(0, 87, 209);
}
body .continer .content-continer main .donuts-shop .adaptiv-lay .donuts-categories {
  background-color: #541111;
  height: 120px;
}
body .continer .content-continer main .donuts-shop .adaptiv-lay .donuts-categories .categories {
  display: flex;
  justify-content: space-around;
}
body .continer .content-continer main .donuts-shop .adaptiv-lay .donuts-categories .categories ul li {
  padding: 20px 0;
  color: white;
  font-size: 22px;
  text-shadow: -0.5px 1px 0px #cb8204;
  transition: font-size 0.3s ease;
}
body .continer .content-continer main .donuts-shop .adaptiv-lay .donuts-categories .categories ul li:hover {
  color: rgb(52, 85, 255);
  font-size: 25px;
}
body .continer .content-continer main .donuts-shop .adaptiv-lay .goods-sliders {
  background-color: #DBABAB;
}
body .continer .content-continer main .donuts-shop .adaptiv-lay .goods-sliders .wraper-conteiner {
  overflow-x: hidden;
}
body .continer .content-continer main .donuts-shop .adaptiv-lay .goods-sliders .wraper-conteiner .wraper {
  position: relative;
}
body .continer .content-continer main .donuts-shop .adaptiv-lay .goods-sliders .wraper-conteiner .wraper .left, body .continer .content-continer main .donuts-shop .adaptiv-lay .goods-sliders .wraper-conteiner .wraper .right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  z-index: 1;
}
body .continer .content-continer main .donuts-shop .adaptiv-lay .goods-sliders .wraper-conteiner .wraper .left img, body .continer .content-continer main .donuts-shop .adaptiv-lay .goods-sliders .wraper-conteiner .wraper .right img {
  width: 40px;
}
@media (min-width: 568px) {
  body .continer .content-continer main .donuts-shop .adaptiv-lay .goods-sliders .wraper-conteiner .wraper .left img, body .continer .content-continer main .donuts-shop .adaptiv-lay .goods-sliders .wraper-conteiner .wraper .right img {
    width: 50px;
  }
}
@media (min-width: 1024px) {
  body .continer .content-continer main .donuts-shop .adaptiv-lay .goods-sliders .wraper-conteiner .wraper .left img, body .continer .content-continer main .donuts-shop .adaptiv-lay .goods-sliders .wraper-conteiner .wraper .right img {
    width: 120px;
  }
}
body .continer .content-continer main .donuts-shop .adaptiv-lay .goods-sliders .wraper-conteiner .wraper .right {
  right: 20px;
}
body .continer .content-continer main .donuts-shop .adaptiv-lay .goods-sliders .wraper-conteiner .wraper .left {
  left: 20px;
}
body .continer .content-continer main .donuts-shop .adaptiv-lay .goods-sliders .wraper-conteiner .wraper .carousel {
  display: flex;
}
body .continer .content-continer main .donuts-shop .adaptiv-lay .goods-sliders .wraper-conteiner .wraper .carousel .slid {
  flex: 0 0 auto;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  display: flex;
  width: 25%;
}
body .continer .content-continer main .donuts-shop .adaptiv-lay .goods-sliders .wraper-conteiner .wraper .carousel .slid .cards-conteiner {
  margin: 10px;
}
body .continer .content-continer main .donuts-shop .adaptiv-lay .goods-sliders .wraper-conteiner .wraper .carousel .slid .cards-conteiner .product-img {
  width: 350px;
  height: 600px;
}
body .continer .content-continer main .donuts-shop .adaptiv-lay .goods-sliders .wraper-conteiner .wraper .carousel .slid .cards-conteiner .product-img img {
  border-radius: 10px 10px 0 0;
  width: 350px;
  height: 600px;
}
body .continer .content-continer main .donuts-shop .adaptiv-lay .goods-sliders .wraper-conteiner .wraper .carousel .slid .cards-conteiner .product-info {
  background-color: #8383FF;
  border-radius: 0 0 10px 10px;
  padding: 10px;
  width: 350px;
  height: 150px;
}
body .continer .content-continer main .donuts-shop .adaptiv-lay .goods-sliders .wraper-conteiner .wraper .carousel .slid .cards-conteiner .product-info .description p {
  font-size: 20px;
}
body .continer .content-continer main .donuts-shop .adaptiv-lay .goods-sliders .wraper-conteiner .wraper .carousel .slid .cards-conteiner .product-info .price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body .continer .content-continer main .donuts-shop .adaptiv-lay .goods-sliders .wraper-conteiner .wraper .carousel .slid .cards-conteiner .product-info .price .info .weight, body .continer .content-continer main .donuts-shop .adaptiv-lay .goods-sliders .wraper-conteiner .wraper .carousel .slid .cards-conteiner .product-info .price .info .calories {
  color: #541111;
  font-size: 20px;
  padding: 5px;
}
body .continer .content-continer main .donuts-shop .adaptiv-lay .goods-sliders .wraper-conteiner .wraper .carousel .slid .cards-conteiner .product-info .price .price-conteiner .discount-price {
  font-size: 35px;
  color: #f2083b;
  padding: 5px;
}
body .continer .content-continer main .donuts-shop .adaptiv-lay .goods-sliders .wraper-conteiner .wraper .carousel .slid .cards-conteiner .product-info .price .price-conteiner .real-price {
  font-size: 20px;
  text-decoration: line-through;
  text-align: end;
}
body .continer .content-continer main .donuts-shop .will-call {
  display: flex;
  justify-content: space-around;
  background-color: #541111;
  align-items: center;
}
body .continer .content-continer main .donuts-shop .will-call .order {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: none;
  -moz-column-gap: 20px;
       column-gap: 20px;
  padding: 10px 0;
}
body .continer .content-continer main .donuts-shop .will-call .order p {
  color: white;
  font-size: 60px;
}
body .continer .content-continer main .donuts-shop .will-call .order p:hover {
  color: rgb(11, 255, 80);
}
body .continer .content-continer main .donuts-shop .will-call .order .bag-img {
  background: white;
  border-radius: 50px;
}
body .continer .content-continer main .donuts-shop .will-call .order .bag-img img {
  width: 100%;
}
body .continer .content-continer main .donuts-shop .will-call p {
  color: white;
  font-size: 60px;
}
body .continer .content-continer main .donuts-shop .will-call .call {
  display: flex;
  align-items: center;
}
body .continer .content-continer main .donuts-shop .will-call .call a {
  font-size: 40px;
  color: rgb(255, 133, 19);
  padding: 0 50px;
}
body .continer .content-continer main .donuts-shop .will-call .call a:hover {
  color: rgb(255, 11, 11);
}
body .continer .content-continer main .donuts-shop .create-set {
  background-color: #C73C61;
}
body .continer .content-continer main .donuts-shop .create-set .create {
  display: flex;
  justify-content: space-between;
  padding: 0 55px;
}
body .continer .content-continer main .donuts-shop .create-set .create .offer {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
body .continer .content-continer main .donuts-shop .create-set .create .offer p {
  color: white;
  font-size: 70px;
}
body .continer .content-continer main .donuts-shop .create-set .create .choose-box {
  display: flex;
  justify-content: space-between;
  padding: 0 85px;
}
body .continer .content-continer main .donuts-shop .create-set .create .choose-box button {
  width: 100px;
  height: 150px;
  margin: 10px;
  border-radius: 10px;
}
body .continer .content-continer main .donuts-shop .create-set .create .choose-box button:hover {
  background-color: #8383FF;
}
body .continer .content-continer main .donuts-shop .create-set .create .choose-box button p {
  font-size: 70px;
}
body .continer .content-continer main .donuts-shop .create-set .box-continer {
  background-color: #429485;
}
body .continer .content-continer main .donuts-shop .create-set .box-continer .box {
  width: 100%;
  height: 450px;
  display: flex;
  justify-content: space-between;
}
body .continer .content-continer main .donuts-shop .create-set .box-continer .box .donuts-box {
  position: relative;
  padding: 50px 0 0 50px;
}
body .continer .content-continer main .donuts-shop .create-set .box-continer .box .donuts-box .body-box {
  width: 600px;
}
body .continer .content-continer main .donuts-shop .create-set .box-continer .box .donuts-box .box-element {
  position: absolute;
  width: 600px;
  left: 50px;
  bottom: 18px;
  z-index: 1;
}
body .continer .content-continer main .donuts-shop .create-set .box-continer .box .bill-box {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
body .continer .content-continer main .donuts-shop .create-set .box-continer .box .bill-box button {
  width: 200px;
  height: 100px;
  border-radius: 10px;
  background-color: #dc7610;
  color: white;
  font-size: 40px;
  border: 1px solid black;
}
body .continer .content-continer main .donuts-shop .create-set .box-continer .box .bill-box p {
  padding: 10px 0;
  font-size: 50px;
}
body .continer .content-continer main .donuts-shop .create-set .box-continer .choose-donuts {
  width: 100%;
  height: 200px;
  background-color: #C73C61;
}
body .continer .content-continer main .donuts-shop .create-set .box-continer .choose-donuts .wraper-conteiner {
  overflow-x: hidden;
}
body .continer .content-continer main .donuts-shop .create-set .box-continer .choose-donuts .wraper-conteiner .wraper {
  position: relative;
}
body .continer .content-continer main .donuts-shop .create-set .box-continer .choose-donuts .wraper-conteiner .wraper .left, body .continer .content-continer main .donuts-shop .create-set .box-continer .choose-donuts .wraper-conteiner .wraper .right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  z-index: 1;
}
body .continer .content-continer main .donuts-shop .create-set .box-continer .choose-donuts .wraper-conteiner .wraper .left img, body .continer .content-continer main .donuts-shop .create-set .box-continer .choose-donuts .wraper-conteiner .wraper .right img {
  width: 40px;
}
@media (min-width: 568px) {
  body .continer .content-continer main .donuts-shop .create-set .box-continer .choose-donuts .wraper-conteiner .wraper .left img, body .continer .content-continer main .donuts-shop .create-set .box-continer .choose-donuts .wraper-conteiner .wraper .right img {
    width: 50px;
  }
}
@media (min-width: 1024px) {
  body .continer .content-continer main .donuts-shop .create-set .box-continer .choose-donuts .wraper-conteiner .wraper .left img, body .continer .content-continer main .donuts-shop .create-set .box-continer .choose-donuts .wraper-conteiner .wraper .right img {
    width: 70px;
  }
}
body .continer .content-continer main .donuts-shop .create-set .box-continer .choose-donuts .wraper-conteiner .wraper .right {
  right: 20px;
}
body .continer .content-continer main .donuts-shop .create-set .box-continer .choose-donuts .wraper-conteiner .wraper .left {
  left: 20px;
}
body .continer .content-continer main .donuts-shop .create-set .box-continer .choose-donuts .wraper-conteiner .wraper .carousel {
  display: flex;
}
body .continer .content-continer main .donuts-shop .create-set .box-continer .choose-donuts .wraper-conteiner .wraper .carousel .slid {
  flex: 0 0 auto;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  display: flex;
  align-items: center;
  width: 14.2857142857%;
}
body .continer .content-continer main .donuts-shop .create-set .box-continer .choose-donuts .wraper-conteiner .wraper .carousel .slid img {
  margin: 15px 5px 5px 5px;
  width: 100%;
  height: 180px;
}
body .continer .content-continer footer .navigation {
  height: 330px;
  width: 1440px;
  background: linear-gradient(to bottom, #541111, #541149);
  display: flex;
  justify-content: space-around;
  align-items: center;
}
body .continer .content-continer footer .navigation nav {
  display: flex;
  flex-direction: column;
  animation: fadeInDown 1s ease-in-out;
}
body .continer .content-continer footer .navigation nav a {
  color: white;
  font-size: 40px;
  padding: 10px 0;
}
@keyframes fadeInDown {
  0% {
    transform: translateY(-20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
body .continer .content-continer footer .navigation .logo {
  text-align: center;
  font-size: 70px;
  letter-spacing: 4px;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
  animation: fadeInUp 1s ease-in-out; /* Анимация появления */
  color: #f5ff39;
}
body .continer .content-continer footer .navigation .logo p {
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  position: relative;
  animation: glow 2s ease-in-out infinite;
  cursor: pointer;
}
@keyframes fadeInUp {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
body .continer .content-continer footer .info-conpany {
  display: flex;
  justify-content: space-around;
  background: linear-gradient(to bottom, #541149, #541111);
}
body .continer .content-continer footer .info-conpany .column p {
  color: white;
  font-size: 25px;
  padding: 10px 0;
}