@font-face {
    font-family: 'Kavoon';
    src: url('../fonts/Kavoon-Regular.ttf') format('truetype');
}

body{
    background: url("../img/bacground/background1.svg") no-repeat center center fixed;
    background-size: cover;
    font-family: 'Kavoon';
    .continer {
        display: flex;
        flex-direction: column;
        align-items: center;
        
        .content-continer{
            border-left: 3px solid black;
            border-right: 3px solid black;
            header{
                height: 230px;
                width: 1440px;
                background: linear-gradient(to bottom, #541111, #541149);
                display: flex;
                justify-content: space-around;
                align-items: center;
                nav{
                    flex: 1;
                    display: flex;
                    flex-direction: column;
                    text-align: center;
                    animation: fadeInDown 1s ease-in-out;
                    a{
                        color: white;
                        font-size: 40px;
                        padding: 10px 0;
                        transition: font-size 0.3s ease;
                        &:hover{
                            color: rgb(52, 85, 255); 
                            font-size: 44px;
                        }
                    }
                    
                    @keyframes fadeInDown {
                        0% {
                            transform: translateY(-20px);
                            opacity: 0;
                        }
                        100% {
                            transform: translateY(0px);
                            opacity: 1;
                        }
                    }
                }
                .logo {
                    flex: 1;
                    text-align: center;
                    font-size: 70px;
                    letter-spacing: 4px;
                    font-weight: bold;
                    text-transform: uppercase;
                    position: relative;
                    animation: fadeInUp 1s ease-in-out; /* Анимация появления */
                    color: #f5ff39;
                    transition: font-size 0.3s ease;
                    &:hover{
                        color: rgb(98, 3, 221);
                        font-size: 75px;
                    }
                    p{
                        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
                        position: relative;
                        animation: glow 2s ease-in-out infinite;
                        cursor: pointer;
                    }
                    
                    @keyframes fadeInUp {
                        0% {
                            transform: translateY(20px);
                            opacity: 0;
                        }
                        100% {
                            transform: translateY(0);
                            opacity: 1;
                        }
                    }
                }
            }
            main{
                width: 1440px;
                .animations {
                    position: relative;
                    .order-block{
                        height: 100%;
                        width: 100%;
                        position: absolute;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        z-index: 1;
                        a{
                            
                            font-size: 100px;
                            color: white;
                            -webkit-text-stroke: 2px #000000;
                            transform: scale(0);
                            opacity: 0;
                            animation: scaleIn 3s forwards;
                            transition: font-size 0.3s ease;
                            &:hover{
                                color: rgb(52, 85, 255); 
                                font-size: 110px;
                            }
                            @keyframes scaleIn {
                                to {
                                  transform: scale(1);
                                  opacity: 1;
                                }
                            }  
                        }
                    }
                    .qr{
                        
                        position: absolute;
                        right: 30px;
                        bottom: 30px;
                        img{
                            width: 100px;
                            height: 100px;
                        }
                    }
                    .rotate-wrapper{
                        overflow: hidden;
                        width: 100%;
                        height: 510px;
                        background-color: #541146;
                        .rotait{
                            display: flex;
                            flex-direction: row;
                            width: 100%;
                            height: 100%;
                            transform: rotate(45deg) translate(-100px, -1110px);
                            transform-origin: top left;
                            .image-slider {
                                width: calc(100% / 4 + 70px);
                                height: 100vw;
                                animation: moveSliderDown linear infinite 60s;
                                @keyframes moveSliderDown {
                                    0% { transform: translateY(0); }
                                    100% { transform: translateY(100%); }
                                }
                                .image-container {
                                    display: flex;
                                    flex-direction: column;
                                    animation: movePhotos linear infinite 60s;
                                    @keyframes movePhotos {
                                        0% { transform: translateY(0); }
                                        100% { transform: translateY(-100%); }
                                    }
                                    img{
                                        height: auto;
                                        border-radius: 10px;
                                        margin: 3px;
                                    }
                                }
                                
                            }
                            
                        }
                    }
                }
                
                .donuts-shop{
                    
                    .search-panel{
                        background: linear-gradient(to bottom, #541149, #541111);
                        width: 100%;
                        height: 70px;
                        display: flex;
                        justify-content: space-around;
                        align-items: center;
                        border-bottom: 2px solid white;
                        .search-buttons {
                            display: flex;
                            column-gap: 30px;
                            .main, .bag, .favorites {
                                background-color: white;
                                border-radius: 50px;
                                position: relative;
                                &:hover{
                                    background-color: rgb(0, 87, 209);
                                }
                                img{
                                    height: 50px;
                                    width: 50px;
                                }
                                .coun-of-bay{
                                    height: 25px;
                                    width: 25px;
                                    border-radius: 50px;
                                    position: absolute;
                                    bottom: 0;
                                    right: 0;
                                    background-color: rgb(162, 111, 230);
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    p{
                                        font-size: 15px;
                                    }
                                }
                            }
                            
                        }
                        .search-line {
                            display: flex;
                            column-gap: 10px;
                            position: relative;
                            .search-line-continer{
                                
                                input{
                                    color: #541111;
                                    border-radius: 50px;
                                    font-size: 20px;
                                    padding: 10px 10px 10px 50px;
                                    width: 750px;
                                    min-width: 300px;
                                    background-color: #E3A44F;
                                    &::placeholder{
                                        color: white;
                                    }
                                }
                                .donut-img{
                                    position: absolute;
                                    left: 0;
                                    
                                }
                            }
                            .find {
                                color: #541111;
                                width: 100px;
                                background-color: #83BECC;
                                border-radius: 50px;
                                font-size: 20px;
                                &:hover{
                                    background-color: rgb(0, 87, 209);
                                }
                            }
                        }
                        
                        
                    }
                    .adaptiv-lay{
                        .donuts-categories {
                            background-color: #541111;
                            
                            .categories {
                                display: flex;
                                justify-content: space-around;
                                align-items: center;
                                height: 130px;
                                ul{
                                    flex: 1;
                                    li{
                                        padding: 10px 10px;
                                        color: white;
                                        font-size: 22px;
                                        text-shadow: -0.5px 1px 0px #cb8204;
                                        transition: font-size 0.3s ease;
                                        text-align: center;
                                        &:hover{
                                            color: rgb(52, 85, 255); 
                                            font-size: 30px;
                                            border: 1px solid #DBABAB;
                                            border-radius: 50px;
                                        }
                                    }
                                }
                            }
                        }
                        .goods-sliders{
                            background-color: #DBABAB;
                            .wraper-conteiner {
                                overflow-x: hidden;
                                .wraper {
                                    position: relative;
                                    
                                    .left, .right {
                                        position: absolute;
                                        top: 50%;
                                        transform: translateY(-50%);
                                        background: none;
                                        border: none;
                                        cursor: pointer;
                                        z-index: 1;
                                        img {
                                            width: 40px;
                                            @media (min-width: 568px) {
                                                width: 50px;
                                            }
                                            @media (min-width: 1024px) {
                                                width: 120px;
                                            }
                                        }
                                    }
                                    .right {
                                        right: 20px;
                                    }
                                    
                                    .left {
                                        left: 20px;
                                    }
                                    .carousel {
                                        display: flex;
                                        
                                        .slid {
                                            
                                            height: 100%;
                                            object-fit: cover;
                                            user-select: none;
                                            display: flex;
                                            width: calc(100% / 4);
                                            
                                            
                                            .cards-conteiner{
                                                margin: 10px;
                                                .product-img {
                                                    width: 300px;
                                                    height: 550px;
                                                    position: relative;
                                                    .product-foto{
                                                        border-radius: 10px 10px 0 0;
                                                        width: 300px;
                                                        height: 550px;
                                                    }
                                                    .bascet-button {
                                                        position: absolute;
                                                        height: 100%;
                                                        width: 100%;
                                                        bottom: 0;
                                                        display: flex;
                                                        .ad-to-basket {
                                                            align-self: flex-end;
                                                            width: 100%;
                                                            height: 70px;
                                                            border-radius: 30px 30px 0 0;
                                                            background-color: #eee71bcd;
                                                            font-size: 30px;
                                                            &:hover{
                                                                background-color: #ee7d1b;
                                                                border: 2px solid purple;
                                                                color: #541146;
                                                            }
                                                        }
                                                        
                                                    }
                                                    .card-info-indicator {
                                                        position: absolute;
                                                        z-index: 1;
                                                        top: 20px;
                                                        left: 10px;
                                                        background-color: #2bdf37;
                                                        width: 120px;
                                                        height: 30px;
                                                        border-radius: 50px;
                                                        display: flex;
                                                        align-items: center;
                                                        justify-content: center;
                                                        p{
                                                            font-size: 18px;
                                                        }
                                                    }
                                                    .star-feach{
                                                        position: absolute;
                                                        z-index: 1;
                                                        top: 10px;
                                                        right: 10px;
                                                        background: none;
                                                        img{
                                                            height: 50px;
                                                            width: 50px;
                                                            transition: transform 0.3s ease;
                                                            &:hover{
                                                                transform: rotate(20deg);
                                                            }
                                                        }
                                                    }
                                                }
                                                .product-info {
                                                    background-color: #8383FF;
                                                    border-radius:  0 0 10px 10px;
                                                    padding: 10px;
                                                    width: 300px;
                                                    height: 150px;
                                                    .description {
                                                        
                                                        p{
                                                            font-size: 20px;
                                                            color: #C52139;
                                                            span{
                                                                color: white;
                                                                
                                                            }
                                                        }
                                                        .desk{
                                                            font-size: 18px;
                                                            color: #111f54;
                                                        }
                                                        
                                                    }
                                                    .price {
                                                        display: flex;
                                                        justify-content: space-between;
                                                        align-items: center;
                                                        .info {
                                                            .weight, .calories {
                                                                color: #541111;
                                                                font-size: 20px;
                                                                padding: 5px;
                                                            }
                                                        }
                                                        
                                                        .price-conteiner{
                                                            
                                                            .discount-price {
                                                                font-size: 35px;
                                                                color: #f2083b;
                                                                padding: 5px;
                                                            }
                                                            .real-price {
                                                                font-size: 20px;
                                                                text-decoration: line-through;
                                                                text-align: end;
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }

                    }
                    .will-call {
                        display: flex;
                        justify-content: space-around;
                        background-color: #541111;
                        align-items: center;
                        .order {
                            display: flex;
                            justify-content: space-around;
                            align-items: center;
                            background: none;
                            column-gap: 20px;
                            padding: 10px 0;
                            
                            p{
                                color: white;
                                font-size: 60px;
                                &:hover{
                                    color: rgb(11, 255, 80);
                                }
                            }
                            .bag-img{
                                background: white;
                                border-radius: 50px;
                                position: relative;
                                img{
                                    width: 100%;
                                }
                                .coun-of-bay{
                                    height: 40px;
                                    width: 40px;
                                    border-radius: 50px;
                                    position: absolute;
                                    bottom: 0;
                                    right: 0;
                                    background-color: rgb(162, 111, 230);
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    p{
                                        font-size: 20px;
                                        color: #000000;
                                    }
                                }
                            }
                        }
                        p{
                            color: white;
                            font-size: 60px;
                        }
                        .call {
                            display: flex;
                            align-items: center;
                            
                            a{
                                font-size: 40px;
                                color: rgb(255, 133, 19);
                                padding: 0 50px;
                                &:hover{
                                    color: rgb(255, 11, 11);
                                }
                            }
                        }
                    }

                    .create-set {
                        background-color: #B50E99;
                        .create {
                            display: flex;
                            justify-content: space-between;
                            padding: 0 55px;
                            .offer {
                                text-align: center;
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                p{
                                    color: white;
                                    font-size: 70px;
                                }
                            }
                            .choose-box {
                                display: flex;
                                justify-content: space-between;
                                padding: 0 85px;
                                .choose{
                                    width: 100px;
                                    height: 150px;
                                    margin: 10px;
                                    border-radius: 10px;
                                    &:hover{
                                        background-color: #8383FF;
                                    }
                                    p{
                                        font-size: 70px;
                                    }
                                }
                                .choose.active {
                                    background-color: #8383FF;
                                }
                            }
                        }
                        .box-continer {
                            background: url("../img/bacground/2.svg") no-repeat center center ;
                            background-size: cover;
                            .box {
                                width: 100%;
                                height: 650px;
                                display: flex;
                                justify-content: space-between;
                                .donuts-box {
                                    position: relative;
                                    margin: 50px 0 0 50px;

                                    animation: fadeInDown 1s ease-in-out;
                                    @keyframes fadeInDown {
                                        0% {
                                            transform: translateY(-30px);
                                            opacity: 0;
                                        }
                                        100% {
                                            transform: translateY(0px);
                                            opacity: 1;
                                        }
                                    }
                                    .wish{
                                        width: 100%;
                                        position: absolute;
                                        text-align: center;
                                        bottom: 50px; 
                                        z-index: 5;
                                        p{
                                            color: #ffffff;
                                            font-size: 80px;
                                        }
                                    }
                                    
                                    .body-box {
                                        width: 900px;
                                    }
                                    .box-element {
                                        position: absolute;
                                        width: 900px;
                                        left: 0;
                                        bottom: 35px;
                                        z-index: 5;
                                    }
                                    .donuts-count, .cap{
                                        height: 100%;
                                        width: 100%;
                                        position: absolute;
                                        top: 0;
                                        z-index: 2;
                                        .count-donuts-conteiner{
                                            height: 475px;
                                            margin: 0 70px;
                                            padding: 0 20px ;
                                            transform-origin: center top; 
                                            transform: perspective(1000px) rotateX(18deg);
                                            position: relative;
                                            display: grid;
                                            align-items: center;
                                                
                                            grid-template-columns: 1fr 1fr 1fr 1fr;
                                            grid-template-rows: 1fr 1fr 1fr 1fr;
                                            row-gap: 2px;
                                            column-gap: 2px;
                                            .line-conteiner{
                                                display: flex;
                                                align-items: center;
                                                flex-direction: column;
                                                
                                                .donut-cell1, .donut-cell2, .donut-cell3, .donut-cell4{
                                                    height: 200px;
                                                    width: 170px;

                                                    transform: rotateX(-30deg);
                                                    position: absolute;
                                                    background-color: #c94cd7f8;
                                                    border-radius: 20px;
                                                    border: 2px solid black;
                                                    transition: transform 0.3s ease;
                                                    cursor: pointer;
                                                    &:hover{
                                                        transform: rotateX(0deg);
                                                    }
                                                    
                                                    img{
                                                        height: 100%;
                                                        width: 100%;
                                                    }
                                                    
                                                }
                                                .donut-cell1{
                                                    top: 0;
                                                    z-index: 1;
                                                }
                                                .donut-cell2{
                                                    top: 100px;
                                                    z-index: 2;
                                                }
                                                .donut-cell3{
                                                    top: 200px;
                                                    z-index: 3;
                                                }
                                                .donut-cell4{
                                                    top: 300px;
                                                    z-index: 4;
                                                }

                                                .donut-cell4.hide-donut-cell{
                                                    display: none;
                                                }
                                            }
                                            .line-conteiner.hide-donuts-conteiner{
                                                display: none;
                                            }
                                            
                                        }
                                    }
                                    .cap{
                                        z-index: 1;
                                        
                                        .box-cap{
                                            background: url("../img/box/cap.svg") no-repeat center center fixed;
                                            background-size: cover;
                                            height: 425px;
                                            margin: 0 56px;
                                            transform-origin: center top; 
                                            transform: perspective(1000px) rotateX(270deg);
                                            position: relative;

                                            
                                            .front{
                                                z-index: 2;
                                                .form-continer {
                                                    position: absolute;
                                                    height: 100%;
                                                    width: 100%;
                                                    display: flex;
                                                    align-items: center;
                                                    justify-content: center;
                                                    form {
                                                        display: flex;
                                                        flex-direction: column;
                                                        justify-content: space-around;
                                                        align-items: center;
                                                        padding: 0 0 150px 0;
                                                        .location, .naim, .phone-number{
                                                            input{
                                                                height: 35px;
                                                                width: 300px;
                                                                margin: 10px 0;
                                                                padding: 0 10px;
                                                                font-size: 20px; 
                                                                border-radius: 50px;
                                                                box-shadow: -5px 12px 3px 0px rgba(0, 0, 0, 0.50);
                                                                border: 1px solid #000;
                                                                &::placeholder{
                                                                    color: #000;
                                                                }
                                                            }
                                                            
                                                        }
                                                        .order-more{
                                                            height: 50px;
                                                            width: 300px;
                                                            background-color: #a910dc;
                                                            
                                                            border-radius: 50px;
                                                            border: 1px solid #000;
                                                            background: #C52139;
                                                            box-shadow: -5px 12px 3px 0px rgba(0, 0, 0, 0.50);
                                                            font-size: 40px;
                                                            color: rgb(0, 94, 234);
                                                            &:hover{
                                                                background: #680110;
                                                                color: white;
                                                            }
                                                        }
                                                    }
                                                }
                                                .logo{
                                                    position: absolute;
                                                    width: 100%;
                                                    background: none;
                                                    bottom: 35px;
                                                    right: 40px;
                                                    
                                                    p{ 
                                                        font-size: 65px;
                                                        &:hover{
                                                            color: rgb(255, 2, 53);
                                                        }
                                                    }
                                                }
                                                .logo-img{
                                                    position: absolute;
                                                    background: none;
                                                    bottom: 40px;
                                                    right: 30px;
                                                    
                                                    img{
                                                        height: 70px;
                                                        width: 70px;
                                                        box-shadow: -11px 15px 3px 0px rgba(0, 0, 0, 0.50);
                                                        border-radius: 10px;
                                                    }
                                                }
                                            }
                                            .back{
                                                width: 100%;
                                                height: 100%;
                                                position: absolute;
                                                top: 0;
                                                left: 0;
                                                transform: perspective(1000px) rotateX(180deg);
                                                background-color: #5C3317;
                                                backface-visibility: visible;
                                                    
                                            }
                                            .back.activHiden{
                                                
                                                backface-visibility: hidden;
                                            }
                                            
                                        }
                                        
                                        .box-cap.animate {
                                            animation-name: rotateAnimation;
                                            animation-duration: 2s;
                                            animation-fill-mode: forwards;
                                            @keyframes rotateAnimation {
                                                from {
                                                  transform: perspective(1000px) rotateX(270deg);
                                                }
                                                to {
                                                  transform: perspective(1000px) rotateX(18deg);
                                                }
                                            }
                                        }

                                        .box-cap.reverseAnimate {
                                            animation-name: reverseRotateAnimation;
                                            animation-duration: 2s;
                                            animation-fill-mode: forwards;
                                        
                                            @keyframes reverseRotateAnimation {
                                              from {
                                                transform: perspective(1000px) rotateX(18deg);
                                              }
                                              to {
                                                transform: perspective(1000px) rotateX(270deg);
                                              }
                                            }
                                        }
                                    }
                                    .cap.index{
                                        z-index: 6;
                                    }
                                    
                                }
                                .bill-box{
                                    flex-grow: 1;
                                    display: flex;
                                    flex-direction: column;
                                    align-items: center;
                                    justify-content: center;
                                    
                                    background: url("../img/bacground/3.svg") no-repeat center center ;
                                    background-size: cover;

                                    
                                    animation: fadeInApp 1s ease-in-out;
                                    @keyframes fadeInApp {
                                        0% {
                                            transform: translateY(30px);
                                            opacity: 0;
                                        }
                                        100% {
                                            transform: translateY(0px);
                                            opacity: 1;
                                        }
                                    }

                                    .create-price-conteiner{
                                        background-color: #83BECC;
                                        border-radius: 10px;
                                        text-align: center;
                                        border: 1px solid black;
                                        .create-ovn-pack{
                                            width: 200px;
                                            height: 100px;
                                            border-radius: 10px;
                                            background-color: #dc7610;
                                            color: white;
                                            font-size: 40px;
                                            
                                            &:hover{
                                                background-color: #a910dc;
                                            }
                                        }

                                        p{
                                            color: rgb(254, 6, 60);
                                            padding: 10px 0;
                                            font-size: 50px;
                                            
                                        }
                                    }
                                }
                               
                            }
                            
                            .choose-donuts {
                                width: 100%;
                                background-color: #B50E99;

                                .wraper-conteiner {
                                    overflow-x: hidden;
                                    .wraper {
                                        position: relative;
                                        
                                        .left, .right {
                                            position: absolute;
                                            top: 50%;
                                            transform: translateY(-50%);
                                            background: none;
                                            border: none;
                                            cursor: pointer;
                                            z-index: 1;
                                            img {
                                                width: 40px;
                                                @media (min-width: 568px) {
                                                    width: 50px;
                                                }
                                                @media (min-width: 1024px) {
                                                    width: 70px;
                                                }
                                            }
                                        }
                                        .right {
                                            right: 20px;
                                        }
                                        
                                        .left {
                                            left: 20px;
                                        }
                                        .carousel {
                                            display: flex;
                                            margin: 10px;
                                            .slid {
                                                flex: 0 0 auto;
                                                height: 100%;
                                                object-fit: cover;
                                                user-select: none;
                                                display: flex;
                                                flex-direction: column;
                                                width: calc(100% / 7);
                                                
                                                padding: 5px;
                                                .img-one-donut {
                                                    background-color: rgb(105, 99, 189);
                                                    border-radius: 10px 10px 0 0;
                                                    img{
                                                        
                                                        width: 100%;
                                                        height: 220px;
                                                    }
                                                }
                                                .onlu-donut-conteiner {
                                                    background-color: cadetblue;
                                                    display: flex;
                                                    border-radius: 0 0 10px 10px;
                                                    justify-content: space-around;
                                                    padding: 5px;
                                                    .donut-naim{
                                                        p{
                                                            font-size: 20px;
                                                            color: white;
                                                        }
                                                    }
                                                    .price{
                                                        .real-price {
                                                            font-size: 30px;
                                                            color: #f2083b;
                                                        }
                                                        .second-price {
                                                            font-size: 20px;
                                                            text-decoration: line-through;
                                                        }
                                                    }
                                                    
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    } 
                }
    
            }
            footer{
                .navigation {
                    height: 330px;
                    width: 1440px;
                    background: linear-gradient(to bottom, #541111, #541149);
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    nav{
                        flex: 1;
                        display: flex;
                        flex-direction: column;
                        animation: fadeInDown 1s ease-in-out;
                        text-align: center;
                        a{
                            color: white;
                            font-size: 40px;
                            padding: 10px 0;
                            transition: font-size 0.3s ease;
                            &:hover{
                                color: rgb(52, 85, 255); 
                                font-size: 44px;
                            }
                        }
                        
                        @keyframes fadeInDown {
                            0% {
                                transform: translateY(-20px);
                                opacity: 0;
                            }
                            100% {
                                transform: translateY(0px);
                                opacity: 1;
                            }
                        }
                    }
                    .logo {
                        flex: 1;
                        text-align: center;
                        font-size: 70px;
                        letter-spacing: 4px;
                        font-weight: bold;
                        text-transform: uppercase;
                        position: relative;
                        animation: fadeInUp 1s ease-in-out; /* Анимация появления */
                        color: #f5ff39;
                        transition: font-size 0.3s ease;
                        &:hover{
                            color: rgb(98, 3, 221);
                            font-size: 75px;
                        }
                        p{
                            text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
                            position: relative;
                            animation: glow 2s ease-in-out infinite;
                            cursor: pointer;
                        }
                        
                        @keyframes fadeInUp {
                            0% {
                                transform: translateY(20px);
                                opacity: 0;
                            }
                            100% {
                                transform: translateY(0);
                                opacity: 1;
                            }
                        }
                    }
                }
                
                .info-conpany {
                    display: flex;
                    justify-content: space-around;
                    background: linear-gradient(to bottom, #541149, #541111);
                    .column{
                        flex: 1;
                        height: 140px;
                        text-align: center;
                        p{
                            
                            color: white;
                            font-size: 25px;
                            padding: 10px 0;
                            transition: font-size 0.3s ease;
                            &:hover{
                                color: rgb(98, 3, 221);
                                font-size: 30px;
                            }
                        }
                    }
                }
            }
        }
    }
}
